main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.mood-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
}
